<main id="main">
  <a href="/users/logout">Logout</a>
  <div id="currentCarpools">
    <div class="window-header">
      <h2 class="Title">My Current Carpools</h2>
      <button class="button" id="carpools">+ -</button>
    </div>
    <div class="info" id="carpoolInfo">
      <p>You don't have any Carpools! Search below to find one!</p>
    </div>
  </div>
  <div id="find">
    <div class="window-header">
      <h2 class="Title">Find My Carpools or Friends</h2>
      <button class="button" id="friends">+ -</button>
    </div>
    <div class="info" id="findMyPeeps">
      <input id="searchPeeps" />
    </div>
  </div>
  <div id="myProfile">
    <div class="window-header">
      <h2 class="Title">My Profile</h2>
      <button class="button" id="profile">+ -</button>
    </div>
    <div class="info" id="profileInfo">
      <img
        src="assets/default_profile_pic.png"
        id="profile-pic"
        class="avatar"
      />
      <p>Hi, I'm...</p>
      <p>I am looking for......</p>
    </div>
  </div>
</main>
<script>
  // calling IDs for individual windows
  const carpoolInfo = document.getElementById("carpoolInfo");
  const findMyPeeps = document.getElementById("findMyPeeps");
  const profileInfo = document.getElementById("profileInfo");

  // calling IDs for individual buttons
  const carpoolsButton = document.getElementById("carpools");
  const friendsButton = document.getElementById("friends");
  const profileButton = document.getElementById("profile");

  // set up addEventListeners for each button to collapse associated window div
  carpoolsButton.addEventListener("click", () => {
    carpoolInfo.classList.toggle("window-expand");
  });

  friendsButton.addEventListener("click", () => {
    findMyPeeps.classList.toggle("window-expand");
  });

  profileButton.addEventListener("click", () => {
    profileInfo.classList.toggle("window-expand");
  });
</script>
