<header>
  <img src="assets/BannerDark.png">
</header>
<main id="main">
  <a href="/users/logout">Logout</a>
  <div id="currentCarpools">
    <h2 class="Title">My Current Carpools<button class="button" id="carpools">+ -</button></h2>
    <div class="info" id="carpoolInfo">
      <div class="window">
        <p>You don't have any Carpools! Search below to find one!</p>
      </div>
    </div>
  </div>
  <div id="find">
    <h2 class="Title">Find My Carpools/ Friends<button class="button" id="friends">+ -</button></h2>
    <div class="info" id="findMyPeeps">
      <input id="searchPeeps">
    </div>
  </div>
  <div id="myProfile">
    <h2 class="Title">My Profile!<button class="button" id="profile">+ -</button>
    </h2>
    <div class="info" id="carpoolInfo">
      <img id="profile-pic">
      <p>This is who I am!</p>
      <p>I am looking for......</p>
    </div>
  </div>
</main>
<footer>
  <p>Created February, 2023 by Kenson, Audrey and Olijijuan</p>
</footer>