      <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, error? Inventore accusantium nostrum magni ipsam at voluptatibus voluptatum, quaerat recusandae voluptate enim aliquam sint ad animi qui harum sit excepturi.</p>
      </div>
      <div>
        <img id="logo" src="assets/CarLogoDark.png">
      </div>
      <div>
        <button id="signup" type="button">
          Sign Up
        </button>
        <button id="dashboard" type="button">
          Dashboard
        </button>
      </div>

      <script>
        const signUpButton = document.getElementById("signup");
        const dashboardButton = document.getElementById("dashboard");

        signUpButton.onclick = () => {
          location.href = "/users/register";
        };

        dashboardButton.onclick = () => {
          location.href = "/dashboard";
        };
      </script>