
        <form action="/users/login" method="POST" class="login-form">
          <h1 class="form-h1">Login</h1>
          <div class="form-input">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Email" />
          </div>
          <div class="form-input">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password"/>
          </div>
          <button type="submit" class="submit-button">Login</button>
        </form>
        <p class="register-check">
          No Account? <a href="/users/register">Register</a>
        </p>