  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <div id="entry-form">
          <h1 class="text-center mb-3"><i class="iconoir-log-in"></i> Login</h1>
        <form action="/users/login" method="POST" id="login-form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="login-pieces" name="email" class="form-control" placeholder="Enter Email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="login-pieces" name="password" class="form-control"placeholder="Enter Password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block" class="login-pieces" id="login-button">Login</button>
        </form>
        <p class="lead mt-4" class="login-pieces" id="register">
          No Account? <a href="/users/register">Register</a>
        </p>
        </div>
      </div>
    </div>
  </div>