<h2>Search for Carpools</h2>
<form action="/dashboard/carpools/search" method="POST" enctype="application/x-www-form-urlencoded">
  <label for="searchbar">Search</label>
  <input type="text" name="searchbar" id="searchbar">
  <button type="submit">Submit</button>
</form>
<div>
  <h2>Results</h2>
  <ul>
    <% if(locals.results && locals.results.length){ locals.results.forEach((carpool)=>{ %>
    <% console.log("Inside",results) %>
    <li>
      <div>
        <h3><%= carpool.name %></h3>
        <p><%= carpool.description %></p>
      </div>
    </li>
    <% })} else { %>
    <li>
      <h3>No results found.</h3>
    </li>
    <% } %>
  </ul>
</div>