<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>CarPooly</title>
</head>

<body>
  <header>
    <img src="/assets/BannerDark.png">
  </header>
  <main id="main"><%- body %></main>
  <footer>Created February, 2023 by Kenson, Audrey and Olijujuan</footer>
</body>

</html>