*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @font-face {
    font-family: "Nunito";
    src: url("/assets/Nunito/Nunito-VariableFont_wght.ttf")
      format("ttf-variations");
    /* font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal; */
  }

  @font-face {
    font-family: "NunitoItalic";
    src: url("/assets/Nunito/Nunito-Italic-VariableFont_wght.ttf")
      format("ttf-variations");
    /* font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal; */
  }

  @font-face {
    font-family: "Righteous";
    src: url("/assets/Righteous/Righteous-Regular.ttf") format("ttf-variations");
    /* font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal; */
  }
  font-family: Righteous sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --orange-light: #fad5ee;
  --orange-dark-light: #dda382;
  --orange-dusk: #5c3c29;
  --orange-bright-dark: #b0521d;
  --orange-bright: #ff5c00;

  --blue-light: #95d7ff;
  --blue-dark-light: #56788d;
  --blue-dusk: #1c243a;
  --blue-bright-dark: #184f70;
  --blue-bright: #0280ca;

  --green-light: #beff96;
  --green-dark-light: #66ae6b;
  --green-dusk: #214823;
  --green-darkest: #072408;
  --green-banner: #192d05;
  --green-bright-dark: #178a1e;
  --green-bright: #00e00f;

  --aqua-light: #8effe0;
  --aqua-dark-Light: #559180;
  --aqua-dusk: #1b3c33;
  --aqua-bright-dark: #137359;
  --aqua-bright: #00cd94;

  color-scheme: light dark;
  color: var(--orange-light);
  background-color: var(--blue-dusk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  color: var(--orange-dark-light);
}

header {
  background-color: var(--green-banner);
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-bottom: 2rem; */
}

.windows {
  min-width: 80vw;
  max-width: 1300px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.title {
  background-color: (var(--blue-dusk));
  color: var(--orange-dark-light);
}

.info {
  background-image: url(assets/InfoBackGround-Dark.svg);
  min-width: 80vw;
  height: 0px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.window-expand {
  height: 300px;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tear-drop {
  border-color: var(--orange-dusk);
  border-style: double;
  border-width: 7px;
}

p {
  /* font-size: 2.5em; */
  color: var(--orange-light);
}

button {
  background-color: var(--aqua-dusk);
  font-size: 100%;
  padding: 10px;
  border-radius: 15%;
  color: var(--orange-dark-light);
  border: 3px solid var(--orange-bright-dark);
}

.login-form,
.register-form {
  background-color: var(--green-dusk);
  height: fit-content;
  width: fit-content;
  margin-top: 2rem;
  padding: 2rem;
  border: 5px solid var(--orange-bright-dark);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.form-h1 {
  font-size: 3.2em;
}

.form-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-input > input {
  background-color: var(--orange-dusk);
}

.submit-button {
  width: 100%;
  font-weight: 700;
  border-radius: 0.5rem;
  border-color: var(--orange-light);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.register-check {
  font-size: 2vh;
}

#profile-pic {
  background-image: url("assets/default_profile_pic.png");
}

footer {
  width: 100%;
  height: 90px;
  font-size: 3vh;
  background-color: var(--green-banner);
}
