*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --orange-light: #ffb7e8;
  --orange-dark-light: #dda382;
  --orange-dusk: #5c3c29;
  --orange-bright-dark: #b0521d;
  --orange-bright: #ff5c00;

  --blue-light: #95d7ff;
  --blue-dark-light: #56788d;
  --blue-dusk: #1c243a;
  --blue-bright-dark: #184f70;
  --blue-bright: #0280ca;

  --green-light: #beff96;
  --green-dark-light: #66ae6b;
  --green-dusk: #214823;
  --green-darkest: #072408;
  --green-banner: #192d05;
  --green-bright-dark: #178a1e;
  --green-bright: #00e00f;

  --aqua-light: #8effe0;
  --aqua-dark-Light: #559180;
  --aqua-dusk: #1b3c33;
  --aqua-bright-dark: #137359;
  --aqua-bright: #00cd94;

  color-scheme: light dark;
  color: var(--orange-light);
  background-color: var(--blue-dusk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: start;
}

header {
  background-color: var(--green-banner);
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #mainAndNav {
  height: 85vh;
  display: flex;
  flex-direction: row;
  width:  100%;
} */

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.Title {
  background-color: (var(--blue-dusk));
}

.info {
  background-image: url(assets/InfoBackGround-Dark.svg);
  min-width: 80vw;
  min-height: 300px;
}

#tear-drop {
  border-color: var(--orange-dusk);
  border-style: double;
  border-width: 7px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3.2em;
  color: var(--orange-dark-light);
}

p {
  font-size: 2.5em;
  color: var(--orange-light);
}

/* info {
  background-color: var(--aqua-bright-dark);
  border: 5px solid var(--orange-dusk);
} */

#profile-pic {
  background-image: url("assets/default_profile_pic.png");
}

button {
  background-color: var(--green-darkest);
  font-size: 70%;
  padding: 10px;
  border-radius: 50%;
  color: var(--aqua-light);
  border: 5px solid var(--aqua-bright-dark);
}

footer {
  width: 100%;
  height: 90px;
  background-color: var(--green-banner);
}
/* 
@media (prefers-color-scheme: light) {
  #mainAndNav {
    flex-direction: row;
    flex: 1;
  }
  #main {
    flex: 1;
  }
  #nav {flex: 0 0 12em}
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
