
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --orange-light: #FFB7E8;
  --orange-dark-light: #DDa382;
  --orange-dusk: #5C3C29;
  --orange-bright-dark: #B0521D;
  --orange-bright: #FF5C00;
  
  --blue-light: #95D7FF;
  --blue-dark-light: #56788D;
  --blue-dusk: #1c243a;
  --blue-bright-dark: #184f70;
  --blue-bright: #0280ca;
  
  --green-light: #beff96;
  --green-dark-light: #66ae6b;
  --green-dusk: #214823;
  --green-darkest: #072408;
  --green-banner: #192D05;
  --green-bright-dark: #178a1e;
  --green-bright: #00e00f;
  
  --aqua-light: #8effe0;
  --aqua-dark-Light: #559180;
  --aqua-dusk: #1b3c33;
  --aqua-bright-dark: #137359;
  --aqua-bright: #00cd94;

  color-scheme: light dark;
  color: var(--orange-light);
  background-color: var(--blue-dusk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  background-color: var(--green-banner);
  width: 100%;
  height: 15vh;
  display: flexbox;
  justify-content: center;
}
/* 
header > header-banner {
  display: flex;
  flex-direction: column;
  justify-items: center;
} */
body {
  margin: 0;
  display: inline-block;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: start;
}

#mainAndNav {
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex: 1;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 45;
  align-items: center;
}

#nav {
  background-color: var(--aqua-dusk);
  flex-grow: 1;
  order: -1;
}

#tear-drop {
  border-color: var(--orange-dusk);
  border-style: double;
  border-width: 7px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 120%;
  padding: 10px;
  background-color: var(--orange-bright);
  color: var(--green-darkest);

}
/* 
@media (prefers-color-scheme: light) {
  #mainAndNav {
    flex-direction: row;
    flex: 1;
  }
  #main {
    flex: 1;
  }
  #nav {flex: 0 0 12em}
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */